/* CS465 Lab1 style file */
.topnav{
    display: flex;
    gap: 200px; /* spaces the links */
    align-items: center;
    font-family: sans-serif;
}

.excellence{
    background-color: rgb(32, 44, 65);
    height: 600px;
}

.excellence .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.excellence img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.digital{
    background-color: rgb(32, 44, 65);
    height: 600px;
}

.digital .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.digital img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.collab{
    background-color: rgb(32, 44, 65);
    height: 600px;
}

.collab .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.collab img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.impact{
    background-color: rgb(32, 44, 65);
    height: 600px;
}

.impact .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.impact img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.create{
    background-color: rgb(32, 44, 65);
    height: 600px;
}

.create .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 75px;
    left: 150px;
    width: 400px;
}

.create img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 30px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.policy{
    background-color: rgb(32, 44, 65);
    height: 600px;
}

.policy .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 75px;
    left: 150px;
    width: 400px;
}

.policy img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 325px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}