/* CS465 Lab1 style file */
.topnav{
    display: flex;
    gap: 200px; /* spaces the links */
    align-items: center;
    font-family: sans-serif;
}

.workwithusprompt{
    background-color: rgb(28, 35, 38);
}

.excellence{
    background-color: rgb(28, 35, 38);
    height: 600px;
}

.excellence .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.excellence img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.digital{
    background-color: rgb(28, 35, 38);
    height: 600px;
}

.digital .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.digital img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.collab{
    background-color: rgb(28, 35, 38);
    height: 600px;
}

.collab .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.collab img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.impact{
    background-color: rgb(28, 35, 38);
    height: 600px;
}

.impact .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 150px;
    left: 150px;
    width: 400px;
}

.impact img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 210px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.create{
    background-color: rgb(28, 35, 38);
    height: 600px;
}

.create .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 75px;
    left: 150px;
    width: 400px;
}

.create img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 350px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.policy{
    background-color: rgb(28, 35, 38);
    height: 600px;
}

.policy .text{
    font-family: sans-serif;
    font-size: 25px;
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 75px;
    left: 150px;
    width: 400px;
}

.policy img{
    float: right;
    position: relative;
    right: 150px;
    bottom: 325px;
    margin-left: 15px;
    width: 640px;
    height: 360px;
}

.socialmedia{
    background-color: rgb(19, 25, 27);
}

.socialmedia .expand, .icons{
    display:inline-block;

    vertical-align: top;
}

.socialmedia .expand button{
    margin: 0;
    top: 50%;
    left: 250px;
    top: 100px;
    position: relative;
    -ms-transform: translateY(10%);
    transform: translateY(-50%);
    font-family: sans-serif;
    border-color: rgb(119, 175, 187);
    width: 250px;
    height: 100px;
    color:rgb(119, 175, 187);
}

.socialmedia .expand button:hover{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.socialmedia button{
    margin: 0;
    top: 50%;
    position: relative;
    left: 500px;
    -ms-transform: translateY(10%);
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-color: rgb(119, 175, 187);
    background-color: rgb(19, 25, 27);
}

.socialmedia button:hover{
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.socialmedia img{
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
}

.community{
    background-color: rgb(28, 35, 38);    
    font-family: sans-serif;
    height: 220px;
}

.community .header{
    color: rgb(119, 175, 187);    
    text-align: center;
    position: relative;
    top: 10px;
    right: 600px;
}

.community .header::after{
    content: "";
    display: block;
    width: 200%;
    height: 1px;
    background-color: rgb(255, 255, 255); 
    margin-top: 5px;
    position: relative;
    
}

.community .bloglinks{
    text-align: center;
}

.community .bloglinks a{
    color: rgb(125, 125, 125);
}

.community .bloglinks a:hover{
    color: rgb(255, 255, 255);
}

.community .allblogs{
    text-align: right;
    position: relative;
    right: 50px;
}

.community .allblogs a{
    color: rgb(119, 175, 187);
}

.community .allblogs a:hover{
    color: rgb(255, 255, 255);
}

.community .bloglinks::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255); 
    margin-top: 5px;
    position: relative;
}

footer{
    background-color: rgb(19, 25, 27);
    color: rgb(119, 175, 187);
}

footer .links .menu{
    text-align: center;
    position: relative;
    left: 600px;
    width: 350px;
}

footer button{
    margin: 0;
    top: 50%;
    position: relative;
    left: 500px;
    -ms-transform: translateY(10%);
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-color: rgb(119, 175, 187);
    background-color: rgb(19, 25, 27);
}

footer .links .social img{
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
}